body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    background: #FAFAFA;
    overflow-x: hidden;
}

/* Basic */
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
Ñ– h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.section {
    max-width: 1136px;
    padding: 50px 0;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

header .container {
    display: flex;
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}

.navigation {
    display: inline-flex;
    align-items: center;
}

/* =========== Logo =========== */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-style: italic;
    color: #111;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-right: 447px;
}

.normal {
    font-style: normal;
}

.icon-logo {
    fill: #FCF1E0;
    stroke: #FD9222;
}

/* ================= Navigation ================== */

.icon-contacts {
    stroke: #111;
    fill: #FAFAFA;
}

.list-nav-container {
    display: flex;
    margin-right: 90px;
}

.list-nav {
    display: flex;
    gap: 24px;
    width: calc((100% - 48px) / 3);
}

.item-nav {

    flex-shrink: 0;
}

.link-nav {
    display: block;
    padding-top: 28px;
    padding-bottom: 36px;
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.list-icons-nav {
    display: flex;
    align-items: center;
    gap: 18px;
    width: calc((100% - 18px) / 2);
}

.icon-link {
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    stroke: #FD9222;
}

.icon-link:focus {
    stroke: #FD9222;
}

.icon-link:active {
    stroke: #FD9222;
}

/* ================== Title =================== */

.section-first {
    align-items: center;
    max-width: 1136px;
    margin: 0 auto 72px;
    padding: 381px 8px 40px 8px;
    background-image: linear-gradient(180deg,
                rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(../images/chocolate.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.section-first .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1056px;
    gap: 32px;
    padding: 0;
}

.title {
    width: 484px;
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
}

.button-first-container {
    display: flex;
    align-items: flex-end;
    gap: 579px;
}

.list-first-container {
    margin-right: auto;
}

.list-first-button {
    display: flex;
    gap: 14px;
}

.button-first {
    display: flex;
    align-items: flex-start;
    border-radius: 100px;
    padding: 14px 40px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.buy {
    background-color: #FD9222;
}

.how {
    background-color: transparent;
    border: 1px solid #FFF;
}

.scroll {
    display: flex;
    align-items: center;
    gap: 14px;
}

.paragraf-first {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
}

.button-menu {
    display: flex;
    width: 38px;
    height: 38px;
    padding: 8px;
    align-items: center;
    border-radius: 50%;
    fill: #FFF;
    stroke: #FD9222;
}

.icon-menu {
    fill: #FD9222;
}


/* ================ Benefits ================ */

.benefits {
    display: flex;
    max-width: 1200px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    background: #1E1823;
}

.benefits .container {
    padding: 0;
}

.hiding {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 88px;
}

.item-benefits {
    display: flex;
    flex-direction: column;
    width: calc((100% - 176px) / 3);
    flex-shrink: 0;
    /* padding-right: 18px; */
}

.decor {
    position:relative;
}

.decor::after {
    content: '';
    position: absolute;
    top: 25%;
    right: -18px;
    display: block;
    width: 1px;
    height: 124px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.50);
}

.icon-benefits-container {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    gap: 7.303px;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 22px;
}

.icon-benefits {
    fill: #FD9222;
}

.title-benefits {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.paragraf-benefits {
    width: 308px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}

/* ================= Tastes ================ */

.tastes {
    display: flex;
    max-width: 1136px;
    flex-direction: column;
    align-items: center;
}

.tastes .container {
    align-items: center;
}

.title-middle {
    margin: 0 auto 28px;
    width: 411px;
    color: #111;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17; 
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.part {
    color: #FD9222;
}

.paragraf-tastes {
    margin: 0 auto 50px;
    width: 486px;
    color: #111;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.02em;
}

.list-tastes {
    display: flex;
    align-items: flex-start;
    gap: 19px;
}

.item-tastes {
    display: flex;
    padding: 28px 36px 28px 28px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
}

.images-tastes {
    margin-bottom: 36px;
}

.paragraf-cards-tastes {
    color: #111;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29; 
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.item-tastes:nth-child(odd) {
    background-color: #FD9222;
}

.item-tastes:nth-child(2n+3) {
    background-color: #1E1823;
}

.item-tastes:nth-child(odd) .paragraf-cards-tastes {
    color: #fff;
}

.overley-tastes {
    position: relative;
    overflow: hidden;
}

.cards {
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-cards {
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.buttons-container {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}

.button-cards {
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 35px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2; 
    margin-bottom: 14px;
}

.orange {
    background: #FD9222;
    border: 1px solid transparent;
    color: #FFF;

}

.white {
    border: 1px solid #FD9222;
    background: #FAFAFA;
}

.paragraph-cards {
    width: 230px;
    height: 162px;
    display: flex;
    flex-wrap: wrap;
    color: #111;
    width: 230px;
    height: 162px;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.02em;
}

/* ============== How it`s made =============== */

.recept {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recept .container .title-middle {
    margin-bottom: 50px;
}

.recept-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.title-recept {
    width: 350px;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33; 
}

.list-recept-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 516px;
    height: 400px;
    gap: 28px;
    padding: 32px;
    border-radius: 15px;
    background: #FFF;
}

.list-recept {
    display: flex;
    flex-direction: column;
    list-style-type: inherit;
    gap: 24px;
    padding-left: 16px;
}

.paragraph-item-recept {
    color: #111;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.02em;
}

/* =============== Reviews =============== */

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews .container .title-middle {
    margin-bottom: 91px;
    padding-top: 0;
}

.list-reviews {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 50px;
}

.item-reviews {
    display: flex;
    flex-direction: column;
    width: calc((100% - 56px) / 3);
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background-color: #FFF;
    box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}

.images-reviews {
    position: relative;
    top: -5%;
    left: 12%;
    transform: translate(-50%, -50%) scale(1);
}

.names {
    text-align: center;
}

.paragraf-reviews {
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.02em;
    padding: 24px;
}

.button-review {
    background-color: transparent;
    margin: 0 auto;
    border: 1px solid #FD9222;
    color: #111;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
}

/* ============== Footer ============== */

.bottom {
    max-width: 1200px;
    background: #1E1823;
    margin: 50px auto 0;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFF;
}

.bottom .link-nav {
    color: #FFF;
}

.bottom-first {
    display: inline-flex;
    align-items: flex-start;
}

.bottom-second {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 358px;
    margin-top: 24px;
}

.title-bottom {
    width: 300px;
    margin-right: 672px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 54px;
}

.contact-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.paragraf-bottom {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29; 
}

.contact {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29; 
    letter-spacing: -0.02ems;
}

.line {
    position: relative;
}

.line::after {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    bottom: 0;
    display: block;
    width: 1136px;
    height: 1px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.10);
}

.form-bottom {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.subscribe {
    display: flex;
}

.email-bottom {
    background-color: transparent;
    width: 313px;
    height: 52px;
    padding: 14px 24px;
    align-items: flex-start;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.30);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}

.button-bottom {
    display: flex;
    width: 137px;
    height: 52px;
    padding: 17px 40px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    border-radius: 100px;
    background: #FD9222;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

/* =============== Backdrop ================ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 517px;
    min-height: 794px;
    border-radius: 15px;
    background: #FAFAFA;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    fill: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke-width: 1px;
}

.icon-button-close:hover {
    stroke: #FD9222;
    border: none;
    fill: none;
}

.icon-button-close:focus {
    stroke: #FD9222;
    border: none;
    fill: none;
}

.icon-button-close:active {
    stroke: #FD9222;
    border: none;
    fill: none;
}


.icon-button-close {
    fill: none;
    stroke: #111;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-input {
    width: 298px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17; 
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.orange-form-paragraph {
    color: #FD9222;
}

.label-container {
    margin-bottom: 18px;
}

.text-inputs {
    display: flex;
    color: rgba(64, 64, 64, 0.30);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.input-container {
    position: relative;
}

.input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    height: 68px;
    border: 1px solid rgba(17, 17, 17, 0.05);;
    border-radius: 13px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 22px 375px 22px 24px;
    gap: 14px;
}

.input:focus {
    border: 1px solid #FD9222;
}

.input:active {
    border: 1px solid #FD9222;
}

.input:focus+.icon-input {
    stroke: #FD9222;
}

.input:active+.icon-input {
    stroke: #FD9222;
}

.icon-input {
    fill: none;
    stroke: #404040;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container-comment {
    margin-bottom: 18px;
}

.comment {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    border-radius: 13px;
    border: 1px solid rgba(17, 17, 17, 0.05);
    background-color: transparent;
    padding: 22px 24px 93px 24px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::placeholder {
    color: rgba(64, 64, 64, 0.30);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}

.comment:focus {
    border: 1px solid #FD9222;
}

.comment:active {
    border: 1px solid #FD9222;
}

.label-container-checkbox {
    margin-bottom: 40px;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.span-icon {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    margin-right: 12px;
}

.check {
    color: rgba(64, 64, 64, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
}

input:checked+.check>.span-icon {
    stroke: #F4F4FD;
    stroke-width: 1px;
    background: #FD9222;
    border: none;
}

.link-paragraf {
    color: #FD9222;
    text-decoration-line: underline;
    margin-left: 2px;
}

.button-send {
    display: inline-flex;
    padding: 14px 40px;
    align-items: flex-start;
    gap: 14px;
    cursor: pointer;
    background-color: #FD9222;
    border: none;
    border-radius: 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

}

/* ================ Background ================= */

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .section-first {
        background-image: linear-gradient(180deg,
            rgba(17, 17, 17, 0.00) 0%,
            rgba(17, 17, 17, 0.40) 100%),
            url(../images/mobi/chocolate-mobi@2x.jpg)
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .section-first {
        background-image: linear-gradient(180deg,
            rgba(17, 17, 17, 0.00) 0%,
            rgba(17, 17, 17, 0.40) 100%),
            url(../images/tablet/chocolate-tab@2x.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .section-first {
        background-image: linear-gradient(180deg,
            rgba(17, 17, 17, 0.00) 0%,
            rgba(17, 17, 17, 0.40) 100%),
            url(../images/chocolate@2x.jpg);
    }
}


